In [6]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [7]:
data = pd.read_json('https://raw.githubusercontent.com/risan/quran-json/master/json/quran/text.json')

In [8]:
data

      surah_number  verse_number                                   content
0                1             1    بِسْمِ ٱللَّهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ
1                1             2     ٱلْحَمْدُ لِلَّهِ رَبِّ ٱلْعَٰلَمِينَ
2                1             3                   ٱلرَّحْمَٰنِ ٱلرَّحِيمِ
3                1             4                   مَٰلِكِ يَوْمِ ٱلدِّينِ
4                1             5  إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ
...            ...           ...                                       ...
6231           114             2                           مَلِكِ ٱلنَّاسِ
6232           114             3                          إِلَٰهِ ٱلنَّاسِ
6233           114             4        مِن شَرِّ ٱلْوَسْوَاسِ ٱلْخَنَّاسِ
6234           114             5   ٱلَّذِى يُوَسْوِسُ فِى صُدُورِ ٱلنَّاسِ
6235           114             6                مِنَ ٱلْجِنَّةِ وَٱلنَّاسِ

[6236 rows x 3 columns]

In [9]:
data.rename(columns={'content':'quran_text'},inplace=True)

In [10]:
data

      surah_number  verse_number                                quran_text
0                1             1    بِسْمِ ٱللَّهِ ٱلرَّحْمَٰنِ ٱلرَّحِيمِ
1                1             2     ٱلْحَمْدُ لِلَّهِ رَبِّ ٱلْعَٰلَمِينَ
2                1             3                   ٱلرَّحْمَٰنِ ٱلرَّحِيمِ
3                1             4                   مَٰلِكِ يَوْمِ ٱلدِّينِ
4                1             5  إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ
...            ...           ...                                       ...
6231           114             2                           مَلِكِ ٱلنَّاسِ
6232           114             3                          إِلَٰهِ ٱلنَّاسِ
6233           114             4        مِن شَرِّ ٱلْوَسْوَاسِ ٱلْخَنَّاسِ
6234           114             5   ٱلَّذِى يُوَسْوِسُ فِى صُدُورِ ٱلنَّاسِ
6235           114             6                مِنَ ٱلْجِنَّةِ وَٱلنَّاسِ

[6236 rows x 3 columns]

In [ ]:
data.columns